<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>건희의 가계부</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            /* 그라데이션 배경 적용 */
            background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
            color: #fff; /* 텍스트 색상을 흰색으로 조정 */
        }
        .btn {
            margin: 0 8px; /* 버튼 간격 조정 */
        }
    </style>
</head>
<body>

<div class="container mt-5">
    <h1 class="mb-4 text-center">건희의 가계부</h1>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="/expenseItemForm" class="btn btn-primary">지출 입력</a>
                <a href="/incomeItemForm" class="btn btn-secondary">수입 입력</a>
                <a href="/expenseItemList" class="btn btn-info">지출 목록 보기</a>
                <a href="/incomeItemList" class="btn btn-warning">수입 목록 보기</a>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.5/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
